<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ad_initial-info.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
   
    <div class="election-list">
        <div class="search-input">
            <input type="text" placeholder="请输入搜索得姓名或职位">
            <button type="button" class="btn btn-success">开始搜索</button>
        </div>
        <div class="election-item">
            <ul onclick="window.open('election-info.html','menuFrame')">
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
        <div class="election-item">
            <ul>
                <li><img src="images/touxiang.jpg" alt=""></li>
                <li>
                    <p>名字</p>
                </li>
                <li>
                    <p>竞选职位</p>
                </li>
                <li>
                    <p>以获得票数</p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>