<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/ad_initial-info.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script>
        $("#search").mouseover(function () {
            $("#p_nameOrp_id").attr("value",$("#p_name").val())
        });
        $("#search").click(function () {
            $("#serachForm").submit()
        })
    </script>
    <title>Document</title>
</head>

<body>
   
    <div class="election-list">
        <div class="search-input">
            <input type="text" placeholder="请输入竞选编号或名字" id="p_name" name="p_nameOrp_id">
            <button id="search" class="btn btn-success" >搜索</button>
        </div>
        <div class="election-item" th:each="participant:${participantList}">
            <ul onclick="window.open('election-info.html','menuFrame')">
                <li>
                    <p><a th:href="@{showPartByP_id/}+${participant.p_id}"><img th:src="@{${participant.imgsrc}}"></a></p>
                </li>
                <li >
                    <p>
                        <a th:href="@{showPartByP_id/}+${participant.p_id}">[[${participant.p_id}]]</a>
                    </p>
                </li>
                <li><p th:text="'名字：'+${participant.p_name}"></p></li>
                <li><p><a th:href="@{showByS_id(s_id=${participant.s_id})}">[['竞选：'+${participant.sort.s_name}]]</a></p></li>
                <li><p th:text="'已得票数：'+${participant.p_poll}"></p></li>
            </ul>
        </div>
    </div>
    <form id="serachForm" th:action="@{/superSearch}" method="post">
        <input type="hidden" id="p_nameOrp_id"  name="p_nameOrp_id" >
    </form>

</body>

</html>