<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ad_initial-info.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Document</title>
    <style></style>
</head>

<body>
    <div class="post-list">
        <ul>
            <li><span class="glyphicon glyphicon-book"></span> <a href="">竞选职位</a></li>
            <li><span class="glyphicon glyphicon-book"></span> <a href="">竞选职位</a></li>
            <li><span class="glyphicon glyphicon-book"></span> <a href="">竞选职位</a></li>
            <li><span class="glyphicon glyphicon-book"></span> <a href="">竞选职位</a></li>
            <li><span class="glyphicon glyphicon-book"></span> <a href="">竞选职位</a></li>
            <li><span class="glyphicon glyphicon-book"></span> <a href="">竞选职位</a></li>
        </ul>
    </div>

</body>

</html>